.Aside {
  
  background-color: #f2f2f2;
  height: 100vh;
  overflow: scroll;
  padding: 16pt;
  
}



.App {
  display: grid;
  grid-template-columns: 400px 1fr;
  max-height: 100vh;
  background-color: #f4f4f4;
}

.search {
  position: sticky;
  top:0;
  background: white;

}

.tweetcard {
  margin: 0.3rem;
  background-color: white;
  padding: 1rem;
}


      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
        
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .customlocationpin {
      width: 1.5rem;
      margin: auto;
      color: #266eff;
      border-radius: 100%;
      border: 5px solid #266eff;
    }

    .searchareabutton {
      background: red;
      position: absolute;
      top: 0;
      left: 50;
      right: 50;
      margin: 2rem auto;
      z-index: 2;
      
      
    }

    .buttondiv {
      width: 100%;
      text-align: center;
    }